playbooks/auto-tag-incident.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "Auto-Tag Sentinel Incident",
    "description": "Logic App that triggers on Microsoft Sentinel incident creation, tags the incident with AutoTagged=true and ReviewStatus=Pending, then sends an email notification via Office 365.",
    "prerequisites": [
      "Microsoft Sentinel workspace",
      "Office 365 mailbox for sending notifications",
      "Managed Identity or service principal with Microsoft Sentinel Responder role"
    ],
    "author": "SecOps Lab"
  },
  "parameters": {
    "workspaceName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Log Analytics workspace where Sentinel is enabled."
      }
    },
    "resourceGroupName": {
      "type": "string",
      "metadata": {
        "description": "Resource group containing the Sentinel workspace."
      }
    },
    "notificationEmail": {
      "type": "string",
      "metadata": {
        "description": "Email address to receive incident notifications."
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Azure region for the Logic App."
      }
    },
    "logicAppName": {
      "type": "string",
      "defaultValue": "secops-playbook-auto-tag",
      "metadata": {
        "description": "Name of the Logic App resource."
      }
    }
  },
  "variables": {
    "sentinelConnectionName": "azuresentinel",
    "office365ConnectionName": "office365",
    "sentinelConnectionId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('resourceGroupName'), '/providers/Microsoft.Web/connections/', variables('sentinelConnectionName'))]",
    "office365ConnectionId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('resourceGroupName'), '/providers/Microsoft.Web/connections/', variables('office365ConnectionName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('sentinelConnectionName')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "Microsoft Sentinel",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
        },
        "parameterValueType": "Alternative"
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "Office 365 Outlook",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "tags": {
        "Environment": "Lab",
        "Project": "SentinelLab",
        "hidden-SentinelTemplateName": "AutoTagIncident",
        "hidden-SentinelTemplateVersion": "1.0.0"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('sentinelConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Get_incident": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/workspaces/@{encodeURIComponent(triggerBody()?['workspaceId'])}/incidents/@{encodeURIComponent(triggerBody()?['object']?['properties']?['incidentNumber'])}"
              }
            },
            "Update_incident_-_Add_tags": {
              "runAfter": {
                "Get_incident": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "incidentArmId": "@body('Get_incident')?['id']",
                  "tagsToAdd": {
                    "TagsToAdd": [
                      {
                        "Tag": "AutoTagged=true"
                      },
                      {
                        "Tag": "ReviewStatus=Pending"
                      }
                    ]
                  }
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "put",
                "path": "/Incidents"
              }
            },
            "Send_email_notification": {
              "runAfter": {
                "Update_incident_-_Add_tags": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "Body": "<h2>🚨 New Sentinel Incident Created</h2><table style='border-collapse:collapse;width:100%;font-family:Segoe UI,Arial,sans-serif'><tr style='background:#f0f0f0'><td style='padding:8px;font-weight:bold'>Title</td><td style='padding:8px'>@{triggerBody()?['object']?['properties']?['title']}</td></tr><tr><td style='padding:8px;font-weight:bold'>Severity</td><td style='padding:8px'>@{triggerBody()?['object']?['properties']?['severity']}</td></tr><tr style='background:#f0f0f0'><td style='padding:8px;font-weight:bold'>Status</td><td style='padding:8px'>@{triggerBody()?['object']?['properties']?['status']}</td></tr><tr><td style='padding:8px;font-weight:bold'>Incident Number</td><td style='padding:8px'>@{triggerBody()?['object']?['properties']?['incidentNumber']}</td></tr><tr style='background:#f0f0f0'><td style='padding:8px;font-weight:bold'>Created Time</td><td style='padding:8px'>@{triggerBody()?['object']?['properties']?['createdTimeUtc']}</td></tr><tr><td style='padding:8px;font-weight:bold'>Tags Added</td><td style='padding:8px'>AutoTagged=true, ReviewStatus=Pending</td></tr></table><br/><p><a href='@{triggerBody()?['object']?['properties']?['incidentUrl']}'>🔗 View Incident in Azure Portal</a></p>",
                  "Importance": "High",
                  "Subject": "Sentinel Alert: @{triggerBody()?['object']?['properties']?['severity']} — @{triggerBody()?['object']?['properties']?['title']}",
                  "To": "[parameters('notificationEmail')]"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/v2/Mail"
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[variables('sentinelConnectionId')]",
                "connectionName": "[variables('sentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              },
              "office365": {
                "connectionId": "[variables('office365ConnectionId')]",
                "connectionName": "[variables('office365ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    },
    "logicAppIdentityPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2017-07-01', 'full').identity.principalId]"
    }
  }
}
